.touch-target {
  --touch-target: var(--touch-target-mobile);
  min-width: var(--touch-target);
  min-height: var(--touch-target);

  @media (pointer: fine) {
    --touch-target: var(--touch-target-mouse);
  }
}
