.surface1 {
  background-color: var(--surface1);
  --text-default: var(--text2);
  --text-strong: var(--text1);
  color: var(--text-default);
}

.surface2 {
  background-color: var(--surface2);
  --text-default: var(--text2);
  --text-strong: var(--text1);
  color: var(--text-default);
}

.surface3 {
  background-color: var(--surface3);
  --text-default: var(--text3);
  --text-strong: var(--text3);
  color: var(--text-default);
}

.surface4 {
  background: var(--surface4);
  --text-default: var(--text2);
  --text-strong: var(--text1);
  color: var(--text-default);
}
