@use '../abstracts/typography' as *;

.font-weight-medium {
  font-weight: $font-weight-bold;
}

.font-weight-bold {
  font-weight: $font-weight-bold;
}

@each $key, $value in $sizes {
  .font-size-#{$key} {
    font-size: $value;
  }
}

.text-uppercase {
  text-transform: uppercase;
}
