@use '../abstracts/typography' as *;

.button {
  font-weight: $font-weight-bold;

  padding-block: var(--size-4);
  padding-inline: var(--size-6);

  border: none;
  border-radius: var(--radius-pill);

  cursor: pointer;

  --button-background: var(--button-background-light);
  --button-text: var(--button-text-light);
  --button-hover: var(--button-hover-light);

  background-color: var(--button-background);
  color: var(--button-text);
  outline-color: transparent;
  outline-offset: 0px;

  --transition-duration-color: 200ms;
  --transition-timing-color: linear;
  --transition-duration-space: 150ms;
  --transition-timing-space: ease;

  transition: background-color var(--transition-duration-color)
      var(--transition-timing-color),
    outline-color var(--transition-duration-color)
      var(--transition-timing-color),
    outline-offset var(--transition-duration-space)
      var(--transition-timing-space);

  &:hover,
  &:focus-visible {
    background-color: var(--button-hover);
  }

  &:focus-visible {
    outline-width: 3px;
    outline-style: solid;
    outline-color: var(--button-hover);
    outline-offset: 4px;
  }
}

$color-schemes: (
  primary: (
    light: (
      background: hsl(253deg 94% 67%),
      text: hsl(253deg 0% 100%),
      hover: hsl(252deg 100% 73%),
    ),
  ),
  secondary: (
    light: (
      background: hsl(231deg 67% 99%),
      text: hsl(231deg 36% 63%),
      hover: hsl(231deg 73% 93%),
    ),
  ),
  mono: (
    light: (
      background: hsl(231deg 20% 27%),
      text: hsl(231deg 20% 61%),
      hover: hsl(231deg 28% 7%),
    ),
  ),
  danger: (
    light: (
      background: hsl(0deg 80% 63%),
      text: hsl(253deg 0% 100%),
      hover: hsl(0deg 100% 80%),
    ),
  ),
);

@each $color-scheme, $modes in $color-schemes {
  .button-color-#{$color-scheme} {
    @each $mode, $colors in $modes {
      @each $property, $color in $colors {
        --button-#{$property}-#{$mode}: #{$color};
      }
    }
  }
}
