.calendar {
  --stack-gap: var(--size-7);
  --gap: var(--size-2);
  max-width: fit-content;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .calendar-grid {
    justify-items: center;
    align-items: center;
    gap: var(--gap);
  }

  .day {
    --touch-target-mobile: calc(44px - calc(var(--gap) / 2));
    display: grid;
    place-items: center;
    background: none;
    border: none;
  }

  [aria-selected='true'] .day {
    color: var(--color-primary);
  }
}
