@use '../abstracts/media-queries' as *;

.filter-menu-trigger {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 1.25em;

  --touch-target: 44px;
  min-width: var(--touch-target);
  min-height: var(--touch-target);

  @media (pointer: fine) {
    --touch-target: 0;
  }

  outline-color: transparent;
  outline-offset: max(4px, 0.15em);
  outline-width: max(2px, 0.15em);
  outline-style: solid;

  transition: outline var(--transition-duration-fast) ease-in-out;

  &:focus-visible {
    outline-color: currentColor;
  }

  & .mobile-hidden {
    display: none;

    @include small {
      display: initial;
    }
  }
}

.filter-menu-content {
  min-width: 12rem;
  width: fit-content;

  --shadow-color: hsla(232deg 38% 45% / 0.25);
  [data-theme='dark'] & {
    --shadow-color: hsla(0deg 0% 0% / 0.25);
  }

  box-shadow: 0px 10px 20px var(--shadow-color);

  transform-origin: var(--radix-popover-content-transform-origin);
  transform: scale(0);
  opacity: 0;

  & > * {
    opacity: 0;
  }

  &[data-state='open'] {
    animation-fill-mode: forwards;
    animation-name: fade-in, expand;
    animation-duration: var(--transition-duration-fast);
    animation-timing-function: ease-in-out;

    & > * {
      animation-fill-mode: forwards;
      animation-name: fade-in;
      animation-duration: var(--transition-duration-fast);
      animation-delay: calc(var(--transition-duration-fast) * 0.75);
      animation-timing-function: ease-in-out;
    }
  }

  &[data-state='closed'] {
    opacity: 1;
    transform: scale(1);
    animation-fill-mode: forwards;
    animation-name: fade-out, collapse;
    animation-duration: var(--transition-duration-fast);
    animation-timing-function: ease-in-out;
    animation-delay: calc(var(--transition-duration-fast) * 0.75);

    & > * {
      animation-fill-mode: forwards;
      animation-name: fade-out;
      animation-duration: var(--transition-duration-fast);
      animation-timing-function: ease-in-out;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes expand {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes collapse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
