.input-field {
  --stack-gap: var(--size-2);

  & input {
    border: none;

    cursor: pointer;
    caret-color: var(--color-primary);

    --outline-default-color: hsl(231deg 75% 93%);
    outline-width: 1px;
    outline-style: solid;
    outline-color: var(--outline-default-color);
    transition: outline-color var(--transition-duration-fast) linear;

    &:focus-visible {
      outline-color: var(--color-primary-faded);
    }

    [data-theme='dark'] & {
      --outline-default-color: transparent;
    }
  }
}
