.status-badge {
  min-width: 6.25rem; // hack to make status same size in absence of subgrid

  --status-badge-alpha: 6%;
  --status-badge-hsl-default: var(--status-badge-hsl-light);
  --status-badge-hsl: var(
    --status-badge-hsl-variable,
    var(--status-badge-hsl-default)
  );
  --status-badge-background: hsl(
    var(--status-badge-hsl) / var(--status-badge-alpha)
  );
  --status-badge-foreground: hsl(var(--status-badge-hsl));

  background-color: var(--status-badge-background);
  color: var(--status-badge-foreground);

  &:before {
    background-color: var(--status-badge-foreground);
  }

  [data-theme='dark'] & {
    --status-badge-hsl-variable: var(--status-badge-hsl-dark);
  }
}

$color-schemes: (
  pending: (
    light: 34deg 100% 50%,
  ),
  paid: (
    light: 160deg 67% 52%,
  ),
  draft: (
    light: 231deg 20% 27%,
    dark: 231deg 75% 93%,
  ),
);

@each $status, $modes in $color-schemes {
  .status-badge-#{$status} {
    @each $mode, $hsl in $modes {
      --status-badge-hsl-#{$mode}: #{$hsl};
    }
  }
}
