@use '../abstracts/size';
@use '../abstracts/border';
@use '../abstracts/typography';

:root {
  @each $key, $value in size.$sizes {
    --size-#{$key}: #{$value};
  }

  @each $key, $value in border.$radius {
    --radius-#{$key}: #{$value};
  }

  @each $key, $value in typography.$sizes {
    --font-size-#{$key}: #{$value};
  }

  --transition-duration-fast: 150ms;
  --transition-duration-medium: 200ms;
  --transition-duration-slow: 300ms;

  --color-primary: hsl(253deg 94% 67%);
}
